<% content_for :avoid_default_main do %>
<div class="container">
    <div class="py-5 text-center">
        <%= image_tag "tanzu-bug.svg", class: "d-block mx-auto mb-4", width: "72", height: "72" %>
        <h2>New Booking</h2>
        <p class="lead">Please be ensure basic room booking etiquettes when booking rooms. Keep all meetings within a day.</p>
    </div>
    <%= render 'form', booking: @booking %>
</div>
<% end %>

<%= link_to 'Back', bookings_path %>